@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#background{
    position: fixed;
    top:0;
    left:0;
}

/*div{
    position:absolute;
    z-index:0;
    left:12px;
    top:10px;
}*/

#name{
    position: absolute;
    text-align: center;
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    color: greenyellow;
}

